*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Kanit', sans-serif;
    
}

body{
    
}

header{
    width: 100vw;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(164, 146, 178);
    z-index: 1;
}

.logo{
    margin: 2rem;
    border-radius: 50rem;
    max-height: 4rem;
    
}

.header-text{
    font-size: 1.75rem;
    padding: 0.5rem;
    margin: 2rem;
    text-decoration: none;
    color: white;
}

.header-text:hover{
    background-color: white;
    border-radius:1rem ;
    color: rgb(59, 15, 87);
}



.winkelmand:hover{
    background-color:rgb(255, 255, 255);
    color: rgb(164, 146, 178);
}

.background{
    background-image: url('/img/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;  
}

.background-text{
    position: absolute;
    bottom: 7%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: rgb(164, 146, 178);
}

.background-container{
    display: flex;
    justify-content: center;
}

.background-button{
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    width: 10rem;
    height: 5rem;
    border-top: 0.1rem solid rgb(164, 146, 178);
    border-right: 0.1rem solid rgb(164, 146, 178);
    border-left: 0.1rem solid rgb(164, 146, 178);
    border-bottom: none;
    color: rgb(164, 146, 178);
    border-radius: 2rem 2rem  0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-button:hover{
    border: none;
    background-color: rgb(170, 59, 121);
    transition: background-color 0.3s;
    color:white;
    cursor: pointer;
}

.heading-container{
    display: flex;
    justify-content: center;
}


.heading{
    margin-top: 10rem; 
    display: block;
    margin-bottom: 10rem;
   
}

.heading-img{
    max-width: 25%;
    height: 30rem;
    margin-right: 10rem;
}

.winkelmand{
    width: 10rem;
    height: 10rem;
}

.heading-header{
    font-size: 4rem;
    margin-bottom: 3rem;
    
}

.heading-text{
    
    font-size: 2rem;
}

.heading-button{
    width: 15rem;
    height: 3rem;
    color: #a492b2;
    border: 0.1rem solid rgb(164, 146, 178);   
    background-color: white;
}

.container-heading-button{
    display: flex;
    justify-content: center;  
    margin-top: 5rem;
    
}

.heading-button:hover{
    cursor: pointer;
    border: 0.1rem solid rgb(164, 146, 178);
    background-color: rgb(170, 59, 121);
    transition: background-color 0.3s;
    color: white;
}

.collectie{
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.collectie-titel{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: black;
    font-size: 3.5rem;
}

.collectie-img{
    width: 30rem;
    height: 42rem;
}

.collectie-text{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: black;
    color: rgb(255, 255, 255);
}

.collectie-container1:hover{
    .collectie-text1{
        
        background-color: rgb(170, 59, 121);
        transition: background-color 0.3s;
    }
}

.collectie-container2:hover{
    .collectie-text2{
        background-color: rgb(170, 59, 121);
        transition: background-color 0.3s;
    }
}

.collectie-container3:hover{
    .collectie-text3{
        background-color: rgb(170, 59, 121);
        transition: background-color 0.3s;
    }
}

.collectie-container4:hover{
    .collectie-text4{
        background-color: rgb(170, 59, 121);
        transition: background-color 0.3s;
    }
}



.bestellenbijons{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 10rem;
}

.kaartjes{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 40rem;
    flex-wrap: wrap;
}

.kaart {
    display: inline-block;
    width: 30rem;
    height: 20rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
    
}

.kaart-img{
    width: 10rem;
    height: 9rem;
}

.kaart-header{
    font-size: 3rem;
}

.kaart-text{
    font-size: 1.5rem;
}

.show{
    display: flex;
    justify-content: center;
    gap: 20rem;
    margin-top: 15rem;
    flex-wrap: wrap;
}

.show-header{
    font-size: 3rem;
    margin-bottom: 2rem;
    
}

.show-text{
    font-size: 1.5rem;
    
}

.peetje{
    width: 42rem;
}

.show-video{
    width: 60rem;
    height: 35rem;
}



.reviews-header{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 10rem;
}

.section3{
    background-color: white;
    display: flex;
    height: auto;
    padding: 4rem;
    align-items: center;
}

.arrow{
    width: 10%;
    border: none;
    background-color: white;
    font-size: 300%;
    outline: none;
}

.arrow:hover{
    cursor: pointer;
}

.stars{
    color: rgb(170, 59, 121);
}

.review{
    width: 30rem;
    min-height: 20rem;
    background-color: white;
    list-style: none;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.4), inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}

.reviews{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.review p{
    font-size: 1.4rem;
    font-family: 'Kanit', sans-serif;
    padding-bottom: 2rem;
    border-bottom: 0.5rem solid rgb(170, 59, 121, 0.5);
}



.review:nth-of-type(4),.review:nth-of-type(5),.review:nth-of-type(6){
    display: none;
}


footer{
    background-color: rgb(164, 146, 178);
    color: white;
    height: 40rem;
    
    
}

.footer-content{
    display: flex;
    justify-content: center;  
    gap: 5rem;
    flex-wrap: wrap;
    padding-top: 5rem;
    
    
}

li{
    margin-bottom: 0.50rem;
    list-style: "> ";
    
}

.footer-rij{
    font-size: 1.3rem;
    width: 20rem;
    
}

.footer-header{
    font-size: 2rem;
    margin-bottom: 3rem;
}

.gratis{
    color: rgb(56, 202, 70);
}

.aanmelden{
    margin-top: 3rem;
    background-color: rgb(170, 59, 121);
    border: none;
    font-size: 1.5rem;
    height: 3rem;
    width: 15rem;
    color: white;
}

.aanmelden:hover{
    background-color: rgb(91, 32, 65);
    transition: background-color 0.3s;
    cursor: pointer; 
}

.container-kaartje{
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.product-350{
    margin-top: 5rem;
}

.product-kaartje{
    width: 26rem;
    height: 40rem;
    background: #F8F8FB;
    justify-content: center;
    flex-direction: column;
 
}

.product-img{   
    width: 27rem;
    height: 17rem;
    margin-bottom: 7rem;
}

.product-naam{
    margin-left: 1rem;
    margin-bottom: 10rem;
}

.product-prijs{
    margin-left: 1rem;
    display: flex;
    color:rgb(234, 54, 152);
    font-size: 1.6rem;
    font-weight: 600;
}

@media screen and (max-width: 85rem){
    .collectie-img{
        width: 20rem;
        height: 30rem;
    }
    .collectie-titel{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 78rem){
    .show{
        gap:3rem
    }
    .show-video{
        width: 40rem;
    }
    .peetje{
        width: 38rem;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
        filter: blur(10px);
    }

    to{
        opacity: 1;
        filter: blur(0);
    }
}

@media screen and (max-width: 50rem){
    .arrow{
        display: none;
    }  
    .reviews{
        width: 100%
    }     
}

@media screen and (max-width: 69rem){
    .header-text{
        font-size: 1.2rem;
    }

    .heading{
        font-size: 1.5rem;
    }
    .heading-header{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .heading-text{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .background-text{
        font-size: 2rem;
    }
    .heading-img{
        margin-right: 2rem;
        max-width: 40%;
        height: 20rem;
    }
    .heading-button{
        width: 15rem;
        height: 3rem;
    }
    .collectie{
        gap:2rem;
    }

    .kaartjes{
        gap:20rem;
    }
}

@media screen and (max-width: 54rem){
    .kaartjes{
        gap: 3rem;
    }
    .kaart{
        width: 24rem;
    }
}

@media screen and (max-width:32rem ){
    .background{
        height: 70vh;
    }
    .background-text{
        bottom:34%;
        font-size: 1.4rem;
    }
    .background-button{
        bottom:30%;
        height: 3rem;
        width: 8rem;
        font-size: 1.2rem;
    }
    .foter-content{
        gap: 2rem;
        display: flex;
        justify-content: center;
        
    }
    .footer-rij{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        

    }
}

@media screen and (max-width:16rem ){
    .kaartjes{
        margin-bottom: 0rem;
        gap: 0rem;
    }
}